/* ==|====================
   Layout/Header
   ======================= */

.l-header {
    height: 150px; line-height: 150px;
    background: #2c3e50; color: #ecf0f1;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 10px #474747;
            box-shadow: 0 0 10px #474747;
}
