<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Let's try to connect to the API</p>

    <a href="<%= linktoAPI %>">Connection à l'api</a>
  </body>
</html>
